nav.header {
  height: 75px;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
}
/* .sticky {
  position: fixed;
  top: 0;
  width: 100%;
} */
.header_left {
  display: flex;
}

.header_left_img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  cursor: pointer;
}
.header_right {
  display: flex;

  margin-right: 10px;
}

.header_list_item {
  position: relative;
  display: block;
  text-transform: uppercase;
  margin: 20px 15px;
  padding: 10px 20px;
  font-weight: 600;
  color: var(--primary-dark-color);
  transition: 0.5s;
  cursor: pointer;
  letter-spacing: 1.15px;
}

.header_list_item:hover {
  color: var(--primary-light-color);
}

/* for responsive burger menu design */
/* ____________________________________________________________________________________ */
/* ____________________________________________________________________________________ */
/* ____________________________________________________________________________________ */

.MuiSvgIcon-root {
  color: var(--primary-dark-color);
}

.nav_body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--primary-dark-color);

  transition: color 0.3s ease;
}

a:hover {
  color: var(--primary-light-color);
}

#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;

  z-index: 1;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  z-index: 2;

  -webkit-touch-callout: none;
}

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  text-transform: uppercase;
}
#menuToggle input:checked ~ ul {
  transform: none;
}
